<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/base_for_work</property>
        <property name="connection.username">aadmin</property>
        <property name="connection.password">Password!</property>
        
		<!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        
		<!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        
		<!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>
        
		<mapping class="jm.task.core.jdbc.model.User" />
    </session-factory>
</hibernate-configuration>